@media only screen and (min-width: 769px) {
    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    .dark-mode {
        background-color: #2a2a2a;
        color: #fff;
        border-color: #eee; 
    }
    .hero {
        position: relative;
        display: inline-block;
    }
    #join {
        position: absolute;
        top: 50%;
        left: 15%;
        padding: 10px 20px;
        color: rgba(255, 255, 255, 0.8);
        background-color: rgb(99, 86, 184); 
        border: 2px solid rgb(71, 56, 165); 
        border-radius: 5px;
        font-size:x-large;
        font-family: sans-serif;
        cursor: pointer;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    #join:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 20px rgb(71, 56, 165);
        transform: scale(1.01);
    }
}
