#menu {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: #eee;
    color: #000;
    display: none;
}

#menu::before {
    content: "≡";
}

@media only screen and (max-width: 768px) {

    nav a {
        display: none !important;
    }
}
